.simple-slider .SoSlider__slide{
    position: relative;
    margin-bottom: 0;
    height: 100%;
}
.simple-slider .SoSlider__slide figure,
.simple-slider .SoSlider__slide figure img{
    height: 100%;
    object-fit: cover;
}
.simple-slider figcaption {
    position: absolute;
    bottom: 0;
    right: 160px;
    height: 80px;
    padding: 1em 1em 1em 3em;
    color: #fff;
    font-size: 1.3em;
    display: flex;
    background: linear-gradient(275deg, #515050, transparent);
    align-items: center;
}
.simple-slider figcaption *{
    margin: 0;
}
.SoSlider__arrows {
    opacity: 0.1;
}

ul.simple-slider{
    padding: 0px!important;
}


.SoSlider__arrows {
    position: absolute!important;
    bottom: 0!important;
    z-index: 3!important;
    cursor: pointer!important;
    transform: translateY(0%)!important;
    transition: .35s ease!important;
    right: 0!important;
    opacity: 1!important;
    left: auto!important;
    top: auto!important;
    background: #FFF!important;
    height: 80px!important;
    width: 80px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
.SoSlider__leftArrow {
    left: auto!important;
    right: 80px!important;
}
.SoSlider__rightArrow {
    left: auto!important;
    right: 0px!important;
}