.interventions {
    padding: 10px;
    height: fit-content;
    margin-top: auto;
    width: 100%;
}

.inter-card {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.inter-card .filter{
    position: absolute;
    opacity: 0;
    background-color: rgba(var(--gold), 0.5);
    backdrop-filter: blur(5px);
    filter: blur(5px);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    transition: .35s ease;
}

.inter-card .inter-nbr{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #FFF;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0;
    transition: .35s ease;
    z-index: 9;
    font-size: 0.8em;
}

.inter-card:hover .filter,
.inter-card:hover .inter-nbr,
.inter-card:hover .inter-more{
    opacity: 1;
}

.inter-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.inter-card h5{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 3em;
    text-transform: capitalize;
    font-family: 'Playfair Display';
    text-align: center;
    letter-spacing: 1px;
    z-index: 6;
}

/* .post-type-archive-intervention .inter-card{
    max-height: 40vh;
    overflow: hidden;
} */

.intervention-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(40vh, 0.4fr) minmax(40vh, 0.4fr);
    gap: 10px;
}

.inter-more{
    position: absolute;
    top: 35px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    text-align: center;
    border: 1px solid #fff;
    padding: 0.5em;
    opacity: 0;
    border-radius: 50%;
    transition: .35s ease;
    color: #fff;
    z-index: 6;
}

@media (max-width: 1024px){
    .intervention-grid {
        grid-template-rows: minmax(45vh, 0.4fr) minmax(45vh, 0.4fr);
    }
}
@media (max-width: 768px){
    .intervention-grid {
        grid-template-rows: minmax(44vh, 0.4fr) minmax(44vh, 0.4fr);
    }
    .inter-card h5 {
        font-size: 2em;
    }
}
@media (max-width: 576px){
    .interventions {
        height: 65vh;
        display: flex;
        align-items: center;
        margin-bottom: auto;
        padding: 0px;
    }
    .intervention-grid{
        display: grid;
        grid-template-columns: none;
        grid-auto-columns: max-content;
        grid-template-rows: 1fr;
        width: 100%;
        padding: 0px 28px;
        overflow-x: auto;
        gap: 5vw;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .intervention-grid::-webkit-scrollbar {
        display: none;
      }
    .intervention-grid a{
        grid-row: 1;
         grid-column: auto;
    }
    .inter-card {
        height: 40vh;
        width: 80vw;
    }
    .see-charter{
    bottom: 5vh;
    top: initial!important;
    transform: translateX(50%);
    right: 50vw!important;
    }
    .inter-card img{
        height: 100%;
        object-fit: cover;
    }
}