.presentation-container {
    /* background: linear-gradient(133.52deg, #000000 70vh, #3b3b3b 150vh, #3b3b3b 100%); */
    color: #FFF;
    background: radial-gradient(36.36% 36.76% at 74.51% 63.64%, #494949 0%, #000000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.presentation-container .scroll-indicator {
    position: initial;
    align-items: start;
    margin-bottom: 0vh;
    margin-top: 0px;
    width: fit-content;
    align-items: center;
}

.full-height::-webkit-scrollbar {
    display: none;
}
.title {
    font-size: clamp(48px, 6vw, 75px);
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(var(--gold));
    text-transform: uppercase;
    margin-top: clamp(200px, 40vh, 350px);
}
.title sup{
    font-size: 0.6em;
}

.soustitre{
    letter-spacing: 0.5em;
}
.titre_presentation{
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 400;
}
.presentation-row{
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.image-container{
    height: 100vh;
    position: sticky;
    top: 0;
}
.presentation-image {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 50vw;
    transform: translate(0%, 0px);
}
.presentation-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    padding: 5em 0 0 0px;
}
.mask-img-presentation{
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 15.75%, rgba(255, 255, 255, 0) 87.81%, #FFFFFF 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 15.62%, rgba(255, 255, 255, 0) 84.37%, #FFFFFF 100%);
    right: calc(0% - 0%);
    bottom: 0;
    z-index: 1;
}

@media (max-width: 576px) {
    .title{
        margin-top: clamp(200px, 20vh, 350px);
    }
    .full-height{
        max-height: none;
    }
    .initiales-img{
        display: none;
    }
    .image-container{
        height: auto;
    }
    .presentation-image{
        transform: none;
        position: inherit;
        right: 0;
    }
    .presentation-row{
        margin-bottom: 5vh;
    }
    .presentation-container .scroll-indicator{
        position: absolute;
        top: 50vh;
    }
}