.profil{
    position: relative;
    z-index: 3;
}
.title-resize{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.big-title {
    width: calc(100% - 0px);
    margin: auto;
    font-family: 'Playfair Display';
    font-size: clamp(20px, 13vw, 200px);
    font-weight: bold;
    text-align: center;
    opacity: .1;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    line-height: 1;
    margin-bottom: 1.4em;
}

.big-title sup{
    font-size: .5em;
    line-height: 3;
}

.gloubiboulga{
    width: 60%;
    margin: auto;
    margin-top: -20vh;
    position: relative;
    z-index: 2;
}

.back, .front{
    border: 1px solid rgb(var(--gold));
    display: block;
    height: 50vh;
    width: 18vw;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
}

.corner{
    position: absolute;
    width: 3vw;
    height: 3vw;
    border: 1px dashed rgb(var(--gold));
    top: -1.5vw;
    left: -1.5vw;
}

.gradient{
    position: absolute;
    bottom: -15vh;
    left: 0;
    height: 20vh;
    width: 100%;
    display: block;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.front {
    right: 10%;
    top: 40vh;
}
.back {
    left: 10%;
}
.profil-pic {
    position: relative;
    top: 15vh;
    left: 50%;
    min-width: 30%;
    transform: translate(-50%, 0px);
}
/* IPAD PRO */
@media (max-width: 1024px) {
    .gloubiboulga {
        width: 100%;
        margin-top: -10vh;
    }
    .back, .front {
        height: 30vh;
        width: 30vw;
    }
}


/* IPAD */
@media (max-width: 768px) {
    .profil {
        margin: 10vh 0;
    }
    .big-title{
        width: auto;
        margin-bottom: 5vh;
    }
    .gloubiboulga{
        margin-top: -10vh;
    }
    
    .back, .front {
        width: 25vh;
        height: 35vh;
    }
    .back {
        left: 15%;
        top: 10vh;
    }
    .front{
        right: 15%;
        top: 70vh;
    }
}
@media (max-width: 546px) {
    .profil-pic {
        /* left: 0%; */
        min-width: 50%;
        width: 60%;
    }
    .front {
        left: 40%;
        top: 65vh;
    }
    .back, .front {
        width: 25vh;
        height: 25vh;
    }
}