.slider-block{
    width: 100%;
    height: auto;
}

.slider{
    width: 100%;
    height: 100%;
}

#avant-apres .SoSlider__track img {
    object-fit: contain; 
}
.slider .SoSlider__dot{
    background-color: rgb(var(--gold));
    border: none;
}

@media (max-width: 576px) {
    .slider .SoSlider__dot{
        margin: 0 1px;
    }
}