.cabinet-container .light-btn{
    top: calc(100% + 3em);
}
.cabinet-row{
    margin-top: clamp(250px, 15vw, 50vh);
}
.cabinet-title{
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.cabinet-texte{
    margin-top: 60px;
}
.cabinet-texte p{
    margin: 0;
}
.cabinet-image * {
    height: 100%;
}
.cabinet-image {
    min-width: 55vw;
    max-width: 55vw;
    right: -5vw;
    height: clamp(100% , 60vh , 110%);
    position: absolute;
    overflow: hidden;
}
.cabinet-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}
.initiales-img{
    left: 90%;
    top: -10%;
    z-index: -1;
}

@media (max-width: 768px) {
    .cabinet-image {
        position: relative!important;
        min-width: 100%;
        max-width: none;
        right: 0;
        height: auto;
        overflow: hidden;
    }
    body .simple-slider figcaption *{font-size: 12px;}
    body .simple-slider figcaption {
        position: absolute;
        bottom: 0;
        right: 100px;
        height: 50px;
        padding: 1em 1em 1em 1em;
    }
    body .SoSlider__leftArrow {
        right: 50px!important;
    }
    body .SoSlider__arrows {
        height: 50px!important;
        width: 50px!important;
    }
    
    .cabinet-container{
        flex-direction: column;
        align-items: center;
    }
    .cabinet-row{
        margin-top: 10vh;
    }
    .initiales-img{
        display: none;
    }
    .cabinet-texte {
        margin-bottom: 10vh;
    }
    .cabinet-container .light-btn{
        top: auto;
    }
}
@media (max-width: 576px) {
    .cabinet-texte {
        margin-bottom: 30px;
    }
}