  /*                    SLIDER
  ************************************************/
.homepage{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 115vh;
    pointer-events: initial;
    z-index: 100;
    background-image: url('https://socreativ-host.com/meslin/wp-content/uploads/2021/09/bkg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.homepage video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name{
  font-size: 7vh;
  font-family: 'Charter';
}
.title{
  font-size: clamp(48px, 6vw, 110px);
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  color: rgb(var(--gold));
  text-transform: uppercase;
  line-height: normal;
  flex-direction: column;
  display: flex;
}

.homepage .title{
  margin-top: 0;
}

.subtitle{
  font-family: 'Playfair Display', sans-serif;
  text-transform: uppercase;
  font-size: clamp(36px, 3vw, 48px);
  font-weight: 400;
}
.slider-text{
  width: 60%;
}

.homepage img.idk{
  min-height: 114vh;
  width: unset;
  position: absolute;
  right: 0;
  transform: scale(1);
  opacity : 1;
}
.homepage img,
#slider video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.slider-content {
  width: 70vw;
  position: absolute;
  left: 15vw;
  top: 0;
  z-index: 404;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  max-height: 100vh;
  padding: 4.5em 3em;
  justify-content: space-between;
}
.slider-btn{
  color: #FFF;
  position: relative;

  text-decoration: none;
  z-index: 405;
}

.slider-prev-arrow g,
.slider-next-arrow g{
    fill: #FFF;
}
.slider-prev-arrow,
.slider-next-arrow{
    cursor: pointer;
    position: absolute;
    z-index: 5;
    width: 45px;
    height: 45px;
    top: 50%;
}
.slider-prev-arrow{
    transform-origin: center;
    transform: rotate(180deg);
    left: 5vw;
}
.slider-next-arrow{
    right: 5vw;
}

#slider-dots{
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}
.slider-dots{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slider-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
  position: relative;
}
.slider-dots li button:before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transform-origin: center;
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border: 1px solid transparent;
  transition: .3s ease;
}
.slider-dots li.slick-active button:before{
  height: 12.5px;
  width: 12.5px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.slider-container{
  height: 100%;
}
.main-slider{
  height: 100%;
}


.interventions-slider h3{
  color: rgb(var(--gold));
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1em;
}

.inter-list{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.inter-list a{
  text-transform: uppercase;
  letter-spacing: 4px;
  height: fit-content;
  transition: .35s ease;
  margin-right: 2em;
  position: relative;
}

.inter-list a:hover{
  text-decoration: none;
  color: #000;
}

.inter-list a:not(:last-of-type):after{
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 1px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: .35s ease;
}

.inter-list a:hover:after{
  transform: scaleX(1);
}

.all-inter{
  height: 35px!important;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  border: 1px solid rgb(var(--gold));
  border-radius: 50%;
  color: rgb(var(--gold))!important;
  padding: 0.5em;
  letter-spacing: 0px!important;
  transition: .35s ease;
  margin-right: 0!important;
}

.all-inter span{
  width: 25px;
  height: 25px;
  transition: .35s ease;
}

.all-inter:hover span{
  transform: rotate(180deg);
}

.slider-bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage:after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  display: block;
  background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%) ;
}


    /*************************************************
    *                 RESPONSIVE                     *
    **************************************************/
  
/* 13 POUCES */
@media (max-width: 1280px) {
.slider-content {
    width: 100vw;
    position: absolute;
    left: 0vw;
    top: 0;
    z-index: 404;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    max-height: 100vh;
    padding: 20vh 5vw 5vw;
    justify-content: space-between;
  }
  .scroll-indicator {
    position: fixed;
    right: 7vw;
  }
}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {
  .slider-content {
    width: 100vw;
    left: 0vw;
  }
}
@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {

  .homepage{
    height:100vh;
  }
  .slider-text {
    width: 100%;
  }
  .homepage:after{
    content: none;
  }
  .homepage img.idk{
    z-index: -1;
    min-height: unset;
    right: 0;
    opacity: .7;
    top: 0;
    height: inherit;
  }
  .slider-content{
    width: 100%;
    left: 0;
    justify-content: flex-end;
    padding: 24px;
  }
  .slider-content:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    z-index: -1;
    display: block;
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%);
  }
  .slider-bottom{
    flex-direction: column;
    margin-top: 3vh;
  }
  .inter-list{
    overflow: scroll;
    margin-bottom: 5vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .inter-list::-webkit-scrollbar {
    display: none;
  }
  .interventions-slider h3{
    margin-bottom: 5vh;
  }
  .slider-buttons{
    justify-content: start;
  }
  .profil-pic{
    left: 0;
  }
  .interventions-slider{
    display: none;
  }
  .coordonnees-image img {
    display: none;
}
}