.timeline{
    display: flex;
    justify-content: center;
}

.timeline__container{
    margin-top: 5vh;
    padding-top: 10vh;
    position: relative;
    padding-bottom: 10vh;
}

.timeline__key{
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: .35s ease;
    transform: translate(-50px, 0px);
}
.timeline__key.visible{
    opacity: 1;
}

.timeline__key p:last-child{
    font-size: 12px;
    font-weight: 300;
}

.timeline__key.right-side{
  left: calc(45% - 0px);  
  text-align: start;
    transform: translate(-50px, 0px);
}

.timeline__key.left-side{
    right: calc(45% - 5px);
    text-align: end;
    transform: translate(50px, 0px);
}
/* visible */
.timeline__key.right-side.visible{
    transform: translate(0px, 0px);
}

.timeline__key.left-side.visible{
    transform: translate(0px, 0px);
}

.timeline__key > p{
    margin: 0;
}

.key__year{
    font-size: 90px;
    letter-spacing: 5px;
    color: rgb(245, 245, 245);
    font-family: 'PlayFair Display';
    transform: translate(0px, 30px);
    transition: 1s ease;
}
.visible .key__year{
    transform: translate(0px, 0px);
}


.timeline__key.left-side > p:not(:first-child){
    margin-right: 50px;
}

.timeline__key.right-side > p:not(:first-child){
    margin-left: 50px;
}

.timeline__dots{
    padding: 10vh 0;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.timeline__dot{
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(var(--gold));
    border-radius: 50%;
    position: relative;
    z-index: 5;
    margin: 0;
    transition: .35s ease;
    transform-origin: center;
}

.timeline__dot::before{
    content: "";
    position: absolute;
    background-color: #FFF;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    transform: translate(1px, 1px);
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    transition: .35s ease;
}

.timeline__dot.reached{
    background-color: #FFF;
    transform: scale(0.7);
}

.timeline__dot.reached::before{
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    transform: translate(4px, 4px);
    background-color: rgb(var(--gold));
}


.timeline__bar{
    position: absolute;
    display: block;
    background-color: rgb(230, 230, 230);
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
}

.timeline__bar_top{
    display: block;
    position: absolute;
    top:0;
    height: 3px;
    left: -15px;
    width: 30px;
    background-color: rgb(var(--gold));
}

.timeline__bar_progress{
    display: block;
    position: absolute;
    top:0;
    left: -1px;
    width: 3px;
    height: 100%;
    transform-origin: top center;
    background-color: rgb(var(--gold));
    transform: scaleY(0);
}

@media (max-width: 768px) {
    .timeline__key{
        max-width: calc(50vw - 30px);
    }
    .image-container{
        display: none;
    }
}
@media (max-width: 576px) {
    .timeline__key * {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .timeline__key > p {
        margin: 0;
        transform: translate(0px, 0px);
    }
    .timeline__key.left-side, .timeline__key.right-side {
        left: 0;
        text-align: start;
        transform: translate(0px, 0px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .timeline__key.right-side > p:not(:first-child){
        margin-left: 0;
    }
    .timeline__bar{
        left: 20%;
    }
    .timeline__dots{
        left: -30%;
    }
    .timeline__key{
        width: 60%;
    }
    .key__year {
        font-size: 50px;
    }
    .timeline__key.left-side > p:not(:first-child) {
        margin-right: 0px;
    }
    .timeline {
        display: flex;
        justify-content: flex-start;
        overflow: auto;
        width: 100%;
        padding: 30px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .timeline::-webkit-scrollbar {
        display: none;
    }
    .timeline__container {
        margin-top: 20px;
        padding-top: 0;
        position: relative;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 15px;
    }
    .timeline__key {
        width: 66vw;
        opacity: 1;
        background: #E6E6E6;
        padding: 30px;
        max-width: none;
    }
    p.key__year {
        color: rgba(var(--gold), 1);
        line-height: normal;
    }
}