[data-barba-namespace="archive-intervention"] {
    height: 100vh;
    width: 100%;
    display: flex;
}


.see-charter {
    position: absolute;
    top: calc(5vh + 5px);
    right: calc(15vh + 70px);
    width: max-content;
    transition: .35s ease;
    z-index: 1001;
}

.nav-open .see-charter{
    opacity: 0;
}

.archive-content{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.archive-content .left-col{
    margin-top: 20vh;
    height: 80vh;
    width: 100%;

}

.archive-content .right-col{
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top:0;
    z-index: 0;
    background-color: #E6E6E6;
}

.archive-content .right-col img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

.intervention-link{
    width: 33%;
    max-width: 50%;
    margin: 0;
    margin-bottom: 2em;
}



.intervention__index{
    font-size: 5vw;
    font-weight: 300;
    opacity: .4;
    margin: 0;
    transition: .35s ease;
}

.intervention__link:hover .intervention__index{
    color: rgb(var(--gold));
    opacity: 1;
}

.intervention__link:hover, .intervention__link:visited{
    text-decoration: none;
    color: #000;
}

.intervention__title{
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;
    margin-left: 2em;
    text-align: left;
}

.term__title{
    position: fixed;
    right: 50vw;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    bottom: 0;
    font-family: 'Playfair Display';
    font-size: 10vw;
    opacity: .1;
    line-height: 0.83;
    letter-spacing: 5px;
}


@media (max-width: 1024px) {
    .see-charter {
        position: absolute;
        top: 30px;
        right: calc(0px + 180px);
    }
}
@media (max-width: 576px) {
    .term__title{
        font-size: 15vw;
        right: 0;
    }
    .intervention-link{
        width: 100%;
        max-width: unset;
        margin-bottom: 0px;
    }
    .intervention__link:first-of-type{
        margin-top: 15vh!important;
    }
    .intervention__index{
        font-size: 6vw;
    }
    .intervention__title {
        font-size: 14px;
        margin-left: 0em;
    }
    .archive-content .left-col {
        margin-top: auto;
        height: auto;
        width: 100%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px!important;
    }
    .intervention__link {
        display: flex;
        margin: 15px 0px!important;
        width: 100%;
        padding: 0px;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        overflow: hidden;
    }
    .img-inter-mobile{
        height: 100%;
        width: 20vw;
        object-fit: cover;
    }
}
