.contact-map{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: visible;
}
.contact-map > div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
}
.contact-map iframe {
    width: 40vw;
    max-width: none;
    filter: grayscale(1);
    position: absolute;
    top: 0;
    left: 10vw;
    height: 100%;
}

.custom-forms input:not([type="submit"]), .custom-forms textarea{
    color: #000;
    border: 1px solid rgb(235, 235, 235);
    padding: 0.4em 1em;
    width: 100%;
    outline: 2px solid transparent;
    transition: .35s ease;
}

.custom-forms input:focus{
    outline: 2px solid rgb(var(--gold));

}

.form-row{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.form-col-full{
    width: 100%;
    margin: 0 0.5em;
}

.form-col{
    width: 50%;
    margin: 0 0.5em;
}

.custom-forms input[type="submit"]{
    width: 50%;
    margin: 0 0.5em;
}

.custom-forms input[type="checkbox"]{
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid rgb(var(--gold));
    border-radius: 2px;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
}

.custom-forms input[type="checkbox"]:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    transition: .35s ease;
    background-image: url('../../public/img/custom_valid.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-forms input[type="checkbox"]:checked:after{
    opacity: 1;
}

/* un peu degueu mais fuck cf7 */
.validate-form ~ span{
    display: block;
    position: absolute;
    left: 50px;
    width: 500px;
    top: -15px;
}

@media (max-width: 768px) {
    .validate-form ~ span{
        display: initial;
        width: auto;
        position: initial;
    }
    .wp-block-group__inner-container .wp-block-columns{
        display: block;
    }
    .contact-map {
        width: 100%;
        height: 75vh;
        position: initial;
    }
    .wpcf7-list-item label, .wpcf7-list-item span{
        vertical-align: super;
    }
}



@media (max-width: 576px) {
    .contact-map iframe {
        width: 100%;
        max-width: none;
        filter: grayscale(1);
        position: absolute;
        top: 0;
        left: auto;
        height: 100%;
        right: 0;
    }
}

