footer.site-footer{
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}


.footer__logo{
    margin-top: 5vh;
    margin-bottom: 2em;
}

.footer__logo svg{
    max-width: 250px;
}

.footer__content{
    margin: 2em 0;
}

.footer__content p{
    margin: 0.1em;
    text-align: center;
}

.footer__content p:last-of-type{
    margin-top: 1em;
}

.footer__mentions{
    background-color: #212121;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 0.8em;
}

.footer__mentions *{
    margin: 0;
}

footer.site-footer.footer-hide{
    display: none;
}