.fancybox__container{
  z-index: 99999!important;
}
.wp-block-image, figure {
    margin-bottom: 0!important;
		width: 100%;
}
.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.overflow-hidden{overflow: hidden;}
/* BKG COLOR */
.has-blue-background-color{background-color: #01416A;}
.has-green-background-color{background-color: #61B492;}
.has-orange-background-color{background-color: #E2735C;}
.has-grey-background-color{background-color: #F6F6F6;}

/* COLOR */
.has-blue-color{color: #01416A!important;}
.has-green-color{color: #61B492!important;}
.has-orange-color{color: #E2735C!important;}
.has-grey-color{color: #F6F6F6!important;}
.has-grey-color{color: #F6F6F6!important;}
.has-white-color{color: #fff!important;}
.has-orange-color{color: rgb(var(--orange))!important;}

/* FONT SIZE STYLE */
.has-h-2-serif-font-size{
  font-size: 2.5em;
  font-family: 'charter';
  font-weight: 100!important
}

.has-h-2-sans-serif-font-size{
  font-size: 2em;
}
.has-h-3-serif-font-size{
  font-size: 1.5em;
  font-family: 'Charter'!important;
  font-weight: 100!important
}
.has-h-3-sans-serif-font-size{
  font-size: 1.2em;
  font-weight: 100!important;
  text-transform: uppercase;
}


.has-big-font-size{
  font-size: 10vw;
  opacity: 0;
  color: rgb(var(--grey));
  letter-spacing: 120px;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow: hidden;
}
.has-bigtext-font-size {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Playfair Display', sans-serif;
    color: #aaaaaa;
}
.has-small-font-size{
	font-size: 0.9rem;
}

/* **************** */
/* BTN CUSTOM STYLE */
/* light  */

a:visited {
  color: unset!important;
}
.light-btn,
.is-style-light-btn a{
  padding: 1em 2em;
  background-color: transparent;
  color: rgb(70, 70, 70);
  border: 1px solid rgb(170, 170, 170);
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: .35s ease;
  border-radius: 0;
  font-size: 0.8em!important;;
}

.light-btn:hover,
.is-style-light-btn a:hover,
.light-btn:hover:visited,
.is-style-light-btn a:hover:visited{
  text-decoration: none;
  background-color: rgb(215 168 142);
  color:rgb(255, 255 , 255);
  border: 1px solid rgb(215 168 142);
  /* anim ? */
}

.gold-btn{
  padding: 1em 2em;
  background-color: rgb(var(--gold));
  color: white !important;
  font-size: 1em;
  letter-spacing: 3px;
  transition: .35s ease;
  border: 1px solid transparent;
  width: fit-content;
}
.gold-btn:visited{
  color: white !important;
}
.gold-btn:visited:hover {
  color: rgb(70, 70, 70) !important;
}
.gold-btn:hover{
  color: rgb(70, 70, 70) !important;
  text-decoration: none;
  background-color: #ffffffed;;
  border: 1px solid rgb(170, 170, 170);
}
.gold-link:visited {
  color: rgb(var(--gold)) !important;
}

.transparent-btn{
  padding: 1em 2em;
  background-color: transparent;
  color: #FFF;
  font-size: 1em;
  letter-spacing: 3px;
  transition: .35s ease;
  border: 1px solid #FFF;
}

.gold-link{
  position: relative;
  width: fit-content;
}

.gold-link:after{
  content: "";
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: rgb(var(--gold));
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transition: .35s ease;
}

.gold-link:hover:after{
  transform: scaleX(1);
}

.is-style-light-link a::before,
.is-style-light-link > span::before {
  content: '\203A';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: transform .3s;
  font-size: 1.5em;
}
.is-style-light-link a:hover::before,
.is-style-light-link > span:hover::before,
.grid-section-container > div:hover .wp-block-button__link::before {
  transform: translate(-60%, -50%);
}

.normal-btn:before {
  content: "";
  display: none!important;

}
/* **************** */
/* COLUMNS STYLE */
.is-style-columns-link{
  min-height: 25vh;
}
.is-style-columns-link .wp-block-column{
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 3rem 1.5rem;
}
.is-style-columns-link .wp-block-column p{
  margin: auto 0;
}
.is-style-columns-link .wp-block-column:not(:first-child),
.is-style-container-half-right .wp-block-column:not(:first-child),
.is-style-container-half-left .wp-block-column:not(:first-child) {
    margin-left: 0em;
}


/* HALF COLUMN RIGHT */
.is-style-container-half-right .wp-block-column:first-of-type {
    padding: 5rem 5em 5rem calc(15vw + 15px);
    max-width: calc(50vw - 0em);
		justify-content: center;
    display: flex;
    flex-direction: column;

}
.is-style-container-half-right .wp-block-column:last-of-type div{
    min-height: 100%!important;
}
/* HALF COLUMN LEFT */
.is-style-container-half-left .wp-block-column:last-of-type {
    padding: 0 15px;
    max-width: 100;
		justify-content: center;
    display: flex;
    flex-direction: column;
}
.is-style-container-half-left .wp-block-column:first-of-type div{
    min-height: 100%!important;
}

/* COLUMN-FRONT */
.is-style-column-index{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #ffffff00 0%, white  10%, white 90%, #ffffff00 100%);
}
.is-style-column-index > div{ 
  max-width: 450px;
  margin: auto;
}
/* **************** */
/* COLUMN SINGLE STYLE */
.is-style-column-border{
	box-shadow: inset 0 0 0 1pt #343a40;
}
/* **************** */
/* CONTAINER STYLE */
/* SMALL */
.is-style-container-small{
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

/* Classic gutenberg-group */
.wp-block-group.is-style-default{
  overflow: hidden;
}
/* Classic Container bottstrap */
.is-style-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* BANNIERE */
.is-style-cover-3disc {
  padding: 5em;
}
.is-style-cover-3disc h2,
.is-style-cover-3disc h3{
  font-size: 30px;
  font-weight: 400;
}
.is-style-cover-3disc:before {
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}
.is-style-cover-3disc:hover:before {
  opacity: 0.8!important;
}

/* QUOTE */
blockquote.wp-block-quote {
  padding-left: 30px;
  border-left: 3px solid rgb(var(--orange));
  margin-left: 5px;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 18px;
  font-style: italic;
}

/* LISTE */
.hentry ul,
.entry-content ul{
  border: none!important;
  border-radius: none!important;
  margin-left: 0!important;
  padding-left: 30px!important;
}
/**
*     FAQ
*/
ol.schema-how-to-steps {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
ol.schema-how-to-steps>li {
  margin:0;
  padding:0 0 0 2em;
  list-style-type:none;
  counter-increment:item;
}
ol.schema-how-to-steps>li:before {
    display: inline-block;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: "ETAPE | " counter(item) ".";
}
ol.schema-how-to-steps {
    margin: 0;
    padding: 0px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}
ol.schema-how-to-steps li{
  padding: 15px;
}
ol.schema-how-to-steps li:nth-child(even) {
    background: #f5f5f5;
}
.schema-how-to-description {
    font-weight: 900;
    color: #e73f72;
    font-size: 20px;
    margin-top: 30px;
}
.schema-faq{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
  color: var(--grey);
  border-radius: 0px;
  cursor: pointer;
}
.schema-faq-section {
    width: 100%;
}
.schema-faq-question {
    display: flex;
    width: 100%;
    padding: 1em 0;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0px;
    border-top: 1px solid rgb(var(--grey));
    z-index: 9;
    left: 50%;
    top: 50%;
    font-size: 1em!important;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.single .schema-faq-question  {
    font-size: 16px!important;
    align-items: center;
}
.schema-faq-question:after {
    content: "+";
    display: inline-flex;
    font-weight: 300;
    font-size: 28px;
    line-height: 22px;
    margin-right: 0;
    margin-left: auto;
    color: rgb(var(--orange));
}
.schema-faq-answer {
    padding: 1em;
    display: none;
    overflow: hidden;
}

.faq-light .schema-faq-question{
  border-radius: 15px;
  opacity: .6;
}

.faq-light .schema-faq-question:before{
  font-weight: 400;
}

.mx--1{
  margin: 0 -15px;
}



@media (min-width: 576px){
.is-style-container,
.container {
    max-width: 540px!important;
}
.is-style-container-small {
  max-width: 750px;
  margin: auto;
}
.is-style-container-half-left .wp-block-column:last-of-type {
  padding: 2rem calc(3vw + 15px) 2rem 2em;
}

}
@media (min-width: 768px){
.is-style-container,
.container {
  max-width: 720px!important;
}
}
@media (min-width: 992px){
.is-style-container,
.container {
  max-width: 960px!important;
}
}
@media (min-width: 1024px){
.is-style-container,
.container {
  max-width: 90vw!important;
}
.is-style-container-half-left .wp-block-column:last-of-type {
  padding: 5rem calc(5vw + 15px) 5rem 5em;
}
}
@media (min-width: 1200px){
.is-style-container,
.container {
  max-width: 70vw!important;
}
.is-style-container-half-left .wp-block-column:last-of-type {
  padding: 5rem calc(15vw + 15px) 5rem 5em;
}
}



/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


/* RESPONSIVE */
/* 13 POUCES */

/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {
  .has-bigtext-font-size {
    font-size: 2rem;
  }
}

/* MOBILE */
@media (max-width: 576px) {

  .is-style-container-small{
    max-width: 100vw;
    padding: 0 28px;
  }

  .has-big-font-size {
    font-size: 2.8rem!important;
}

  .has-bigtext-font-size{
    font-size: 1.3rem;
  }

  .is-style-container-half-right .wp-block-column:first-of-type,
  .is-style-container-half-left .wp-block-column:last-of-type  {
    padding: 0 15px;
    max-width: 100%;
  }

  .is-style-3disc-link a{
    padding: 1em 2em;
    margin: 0 1em;
  }

  /* .wp-block-group{
    text-align: justify;
  } */

  .wp-block-buttons{
    justify-content: center;
  }

  /* .wp-block-cover-image img.wp-block-cover__image-background,
  .wp-block-cover-image video.wp-block-cover__video-background,
  .wp-block-cover img.wp-block-cover__image-background,
  .wp-block-cover video.wp-block-cover__video-background {
    position: initial;
  } */
  .is-style-cover-3disc {
    padding: 1em;
  }

  .is-style-container-half-left .img-br-right,
  .is-style-container-half-right .img-br-left{
    border-radius: 0;
  }

  .wp-block-query ul{
    padding : 0!important;
  }

}
