.white-fill #masthead .logo *,
.white-fill #masthead .burger *{
    color: #FFF;
    fill: #FFF;
}

.site-header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    margin: auto;
    padding: 10vh 10vh 0px 10vh;
    top: 0vh;
    left: 50%;
    transform: translateX(-50%);
    transition: .35s ease;
    z-index: 999;
    height: 0px;
}

.logo{
    position: relative;
    z-index: 9999999;
}
.logo a:focus{
    outline: none;
}

.header-sticky .site-header,
.sticky-lock .site-header{
    width: 100%;
    align-items: flex-start;
    padding: 5vh 5vh 0px 5vh;
}
.nav-open{overflow: hidden;}
.nav-open .site-header{
        padding: 5vh 5vh 0px 5vh;
        width: 100%;
}
.header-sticky .site-header path,
.sticky-lock .site-header path{
    opacity: 0;
}
.header-sticky .site-header #LOGO path,
.sticky-lock .site-header #LOGO path{
    opacity: 1;
}

.header-sticky .site-header svg,
.sticky-lock .site-header svg{
    transform: scale(0.6)
}

.invert .burger-text{
    color: #FFF;
}

.header-sticky .site-header .burger-text,
.sticky-lock .site-header .burger-text{
    transform: rotate(90deg) translate(-100%, 125%) scale(-1);
}

.site-header svg{
    transform-origin: left top;
    transition: .35s ease;
}
.site-header nav{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .35s ease;
}
#site-navigation{
    cursor: pointer;
}

.burger-cross {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    cursor: pointer;
    background: rgb(var(--gold));
    padding: 5px;
    align-items: center;
    margin-left: 10px;
    transform: translate(0px, -12px);
}
.white-menu .burger-text{
    color: #fff;
}

.white-menu .back-btn:visited,
.white-menu .back-btn{
    color: #fff!important;
}

.back-btn {
    position: fixed;
    top: 50px;
    right: 10vw;
    color: #000;
    letter-spacing: 6px;
    text-transform: uppercase;
    z-index: 1001;
    transition: .35s ease;
    font-size: 0.9em;
}
.sticky-lock .back-btn {
    position: fixed;
    top: calc(5vh + 15px);
    right: calc(15vh + 100px);
    width: max-content;
    transition: .35s ease;
    z-index: 1001;
    text-shadow: 2px 1px 3px rgb(255 255 255);
}
/*.tax-categorie .burger-text-hor {
    color: #FFF;
}
*/
/*.back-btn-w,
.tax-archive .burger,
.back-btn-w:visited,
.tax-archive .burger:visited{
    color: #FFF!important;
}*/
.nav-open .back-btn-w,
.nav-open.tax-archive .burger,
.nav-open.tax-archive .back-btn{
    color: #000!important;
}
.nav-open .back-btn-w,
.nav-open.tax-archive .burger,
.nav-open.tax-archive .back-btn{
    color: #000!important;
}

.back-btn:visited{
    color: #000;
}

.nav-open .back-btn{
    opacity: 0;
}

.back-btn g{
    fill: #000;
}

.burger-text-ver {
    text-transform: uppercase;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    position: absolute;
    transform-origin: top;
    top: 100%;
    right: 10px;
    margin: 0;
    transition: .35s ease;
}
.burger-text-hor{
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    transform-origin: top;
    right: 100%;
    top: 0%;
    margin: 0;
    transition: .35s ease;
    opacity: 0;
}


.header-sticky .burger-text-hor,
.sticky-lock .burger-text-hor{
    opacity: 1;
}

.header-sticky .burger-text-ver,
.sticky-lock .burger-text-ver{
    opacity: 0;
}

.nav-open .burger-text-hor,
.nav-open .burger-text-ver{
    opacity: 0;
}

.hamb-dots {
    width: 23px;
    height: 2px;
    display: block;
    background-color: #fff;
    border-radius: 0;
    transition: .35s ease;
}

.hamb-dots:not(:first-of-type):not(:last-of-type){
    margin: 5px 0;
}

@media (min-width: 1024px) {
    /*.burger:hover .hamb-dots {
        margin: -3px 0;
    }*/
    .burger:hover .hamb-dots {
        width: 15px;
        height: 2px;
    }
}
.logo svg g path{
    transition: .35s ease;
}

.nav-open .logo g:not(#LOGO) > path{
    opacity: 0;
}

.scroll-indicator {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 444;
    align-items: center;
    opacity: 1;
    transition: .35s ease;
    pointer-events: none;
}
.header-sticky .scroll-indicator {
    opacity: 0;
}
.scroll-indicator .gold-el{
    background-color: rgb(var(--gold));
    width: 3px;
    height: 90px;
    transform: scaleY(0);
    display: block;
    position: absolute;
    z-index: 2;
}

.scroll-indicator .fixed-el{
    background-color: rgb(0, 0, 0);
    opacity: .4;
    display: block;
    width: 1px;
    height: 90px;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
}

.scroll-indicator-text{
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    color: #000;
    position: relative;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.burger{
    position: relative;
    z-index: 9999999999;
}

.burger-nav{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0vw;
    padding: clamp(150px, 19vh, 250px) 13vw;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    background: url('https://socreativ-host.com/meslin/wp-content/uploads/2021/09/bkg.png'), #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .35s ease;
    z-index: 99999;
}

.header-sticky .burger-nav,
.sticky-lock .burger-nav{
    left: 0;
}

#low-title{
    position: fixed;
    right: 0;
    font-family: 'Playfair Display';
    font-size: 20vw;
    color: rgb(245, 245, 245);
    margin:0;
    line-height: 0.8;
    pointer-events: none;
    z-index: -1;
}

.burger-nav.open{
    opacity: 1;
    pointer-events: all;
}

.nav-open .burger-text{
    opacity: 0;
}

.nav-open .hamb-dots{
    background-color: #fff;
}

.nav-open .hamb-dots{
    opacity: 0;
}

.cross-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    transform: rotate(45deg) translate(-50%, -50%) scale(0);
    transform-origin: left;
    margin: 0;
    opacity: 1;
    background-color: #fff;
    transition-delay: 0ms;
}

.cross-line2{
    transform: rotate(-45deg) translate(-50%, -50%) scale(0);
    transform-origin: left;
}

.nav-open .cross-line{
    transform: rotate(45deg) translate(-47%, -30%) scale(1);
    transition-delay: 700ms;
}

.nav-open .cross-line2{
    transform: rotate(-45deg) translate(-50%, 50%) scale(1);
    transition-delay: 1100ms;
}

.link-to-cabinet{
    font-style: italic;
    font-size: 1.3em;
    font-weight: 100;
    position: relative;
    width: fit-content;
}

.link-to-cabinet:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 2px;
    transform-origin: left;
    transform: scale(0);
    transition: .35s ease;
}

.link-to-cabinet:hover:after{
    transform: scale(1);
}

.nav-img{
    width: 100%;
    object-fit: cover;
    height: 50vh;
}

nav h3{
    color: rgb(var(--gold));
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 1em;
}

.nav-img{
    transition: .35s ease;
}

.nav-interventions{
    letter-spacing: 5px;
    font-size: 2em;
    font-family: 'Playfair Display';
    opacity: .5;
    margin-bottom: 0.3em;
    transition: .35s ease;
    width: 100%;
}

.nav-interventions:hover{
    opacity: 1;
}

.nav-interventions span{
    opacity: .4;
    margin-right: 1em;
}

.burger-nav > div{
    height: 100%;
}

/* 13POUCES */
@media (max-width: 1280px) {
    .burger-nav {
        padding: clamp(150px, 19vh, 250px) 30px 30px 30px;
    }
    .nav-intervention h3{display: none;}
    .nav-intervention ul{
        line-height: 2.5em;
    }
}
/* IPAD */
@media (max-width: 1024px) {
    .site-header{
        padding: 3vh 3vh 0 3vh;
    }
    .header-sticky .site-header, .sticky-lock .site-header {
        padding: 24px 24px 0px 24px;
    }
    .header-sticky .back-btn, .sticky-lock .back-btn {
        position: fixed;
        top: 30px;
    }
    .burger-nav {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0vw;
        padding: clamp(190px, 14vh, 250px) 50px clamp(50px, 10vh, 250px) 50px;
    }
    .nav-interventions span {
        opacity: .4;
        margin-right: 0.5em;
    }
    .nav-interventions {
        letter-spacing: 2px;
        font-size: 1.8em;
    }
    #low-title{
        display: none;
    }
}


/* MOBILE */
@media (max-width: 576px) {
    .header-sticky .back-btn,
    .sticky-lock .back-btn {
        top: auto;
    }
    .site-header{
        left: 0;
        width: 100vw;
        transform: unset;
        padding: 3vh 3vh 0 3vh;
    }
    .nav-open .site-header {
        padding: 3vh 24px 0px 24px;
        width: 100%;
    }
    .logo{
        max-width: 250px;
    }
   .logo g:not(#LOGO) > path{
        display: none;
    }
    .burger-text-hor{
        top: 50%;
        transform: translateY(-50%);
    }
    .burger{
        box-shadow: -1px 1px 12px rgba(var(--gold), 0);
        background-color: transparent;
        padding: 0.5em;
        margin: 0 0.5em;
        border-radius: 50%;
    }

    .burger-cross {
        width: 50px;
        height: 50px;
    }
    .burger-text-ver {
      right: 20px;
    }

    .hamb-dots{
        width: 20px;
        border-radius: 1px;
        height: 2px;
    }

    .burger-nav {
        overflow: auto;
        padding: 150px 30px 15px 30px;
    }
    a.link-to-cabinet {
        font-size: 16px;
        font-style: normal;
        margin-top: 1em;
        margin-bottom: 3em!important;
    }
    .nav-interventions{
        width : 100%;
    }
    .nav-interventions a{
        letter-spacing: 0px;
    }
    .nav-interventions span {
        opacity: .4;
        letter-spacing: 0px;
        margin-right: 0.3em;
    }
    .burger-nav > div{
        height: unset;
    }

    .nav-interventions{
        font-size: 1.5em;
    }
    .rdv-btn-burger {
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .back-btn{
        top: 150px;
        right: unset;
        left: 15vw;
        font-size: 0.7em;
        position: absolute;
    }

    .sticky-lock .back-btn,
    .back-btn {
        position: fixed;
        right: unset;
        top: auto;
        left: 50%;
        transform: translate(-50%, 0px);
        bottom: 30px;
        color: #fff!important;
        background: rgb(var(--gold));
        padding: 15px;
    }

}
