:root{
 --primary: 121, 167, 230;
 --gold: 197, 171, 158;
 --widthnavmobile: 100vw;
 
 --black: 0, 0, 0;
 --white: 255, 255, 255;
 --grey: 216, 216, 216;
 --grey2: 200, 200, 200;
 --light: 243, 243, 243;
 --dark1: 33, 33, 33;
 --dark2: 43, 43, 43;
 --dark3: 45, 52, 56;
 --dark4: 60, 69, 74;
}
.charter{
    font-family: 'Charter';
}
body {
	margin: 0;
	background-color: #FFF;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
    scroll-behavior: smooth;
}

main{
    opacity: 0;
}

html{
    scroll-behavior: smooth;
}

main > section > *{
    transition: .25s ease;
}

.playfair{
    font-family: 'Playfair Display';
}


.text-white{color: rgb(var(--white))!important;}
.text-black{color: rgb(var(--dark2))!important;}
.text-gold{color: rgb(var(--gold))!important;}
.text-grey{color: rgb(var(--grey))!important;}
.text-dark2{color: rgb(var(--dadark2rk4))!important;}

/* .bkg-white{background-color: rgb(var(--white))!important;}
.bkg-black{background-color: rgb(var(--dark2))!important;}
.bkg-orange{background-color: rgb(var(--orange))!important;}
.bkg-primary{background-color: rgb(var(--primary))!important;}
.bkg-grey{background-color: rgb(var(--grey))!important;}
.bkg-grey2{background-color: rgb(var(--grey2))!important;}
.bkg-light{background-color: rgb(var(--light))!important;} */

.uppercase{text-transform: uppercase;}
[hidden] {
    display: none !important;
}
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.wp-block-columns{
    margin: 0;
}

.modal {
    z-index: 91050!important;
}

@media (min-width: 1500px) {
    .container {
        max-width: 70vw;
    }
}

.object-fit-cover{object-fit: cover;}
.anim-300-linear, .anim-300-linear a {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.anim-300, .anim-300 a {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.anim-500, .anim-500 a {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.anim-800, .anim-800 a {
    -webkit-transition: all 800ms ease !important;
    -moz-transition: all 800ms ease !important;
    -ms-transition: all 800ms ease !important;
    -o-transition: all 800ms ease !important;
    transition: all 800ms ease !important;
}

.anim-800-linear {
    -webkit-transition: all 800ms linear !important;
    -moz-transition: all 800ms linear !important;
    -ms-transition: all 800ms linear !important;
    -o-transition: all 800ms linear !important;
    transition: all 800ms linear !important;
}

.nav ul {
    list-style: none;
    margin-bottom: 0;
}

.no-bkg {
    background: transparent !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.ls-2 {
    letter-spacing: 2px !important;
}

.ls-3 {
    letter-spacing: 3px !important;
}

.ls-4 {
    letter-spacing: 4px !important;
}

.w-50vw {
    width: 50vw;
    min-width: 300px;
}

.w-100vw {
    width: 100vw;
}

.h-50vh {
    height: 50vh
}

.h-100vh {
    height: 100vh
}

.mh-100vh {
    min-height: 100vh;
}

.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.fw-100{font-weight: 100!important;}
.fw-200{font-weight: 200!important;}
.fw-300{font-weight: 300!important;}
.fw-400{font-weight: 400!important;}
.fw-500{font-weight: 500!important;}
.fw-600{font-weight: 600!important;}
.fw-600{font-weight: 600!important;}
.fw-700{font-weight: 700!important;}
.fw-800{font-weight: 800!important;}
.fw-900{font-weight: 900!important;}

.no-border{border: none!important;}


.img-br-left{
    border-radius:  20px 0px 0px 20px;
    overflow: hidden;
}
.img-br-right{
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
}
.br-5{border-radius: 5px;}

.fs-12{font-size: 12px;}