.resize{
    letter-spacing: 120px;
    font-size: 144px;
    opacity: 0.1;
    font-family: 'Playfair Display', sans-serif;
    max-width: 100vw;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    display: flex;
}

@media (max-width: 576px) {
    .resize{
        font-size: 60px;
        letter-spacing: 25px;
    }
}