.single-intervention .site-header{
        padding: 5vh 5vh 0px 5vh;
}
.header-sticky.single-intervention .burger-text-hor,
.sticky-lock.single-intervention .burger-text-hor {
    opacity: 0;
}
.header-sticky.single-intervention .burger-text-ver,
.sticky-lock.single-intervention .burger-text-ver {
    opacity: 1;
}
.intervention__single{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
}

.single__title {
    color: rgb(var(--gold));
    font-size: clamp(20px, 3vw, 150px);
    font-family: 'Playfair Display';
    line-height: clamp(40px, 4.3vw, 200px);
}

.single__categorie{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 3px;
}

.single__content{
    width: 60%;
    height: auto;
    margin-top: 30vh;
    position: relative;
}

.content__header{
    padding-bottom: 5em;
    width: 70%;
    margin: auto;
    max-height: 30%;
}


.single__sidebar{
    width: 40%;
    height: 100vh;
    border-left: 1px solid #0000002c;
    position: sticky;
    top: 0;
    right: 0;
    background: url('http://10.9.2.11:8888/DEV/Meslin/wp-content/uploads/2021/09/bkg.png'), url('https://socreativ-host.com/meslin/wp-content/uploads/2021/09/bkg.png');
    background-repeat: no-repeat;
}

.single__content > img {
    width: 100%;
    max-height: 70vh;
    position: relative;
    object-fit: cover;
    object-position: center;
    bottom: 0;
}

.single__duration,
.single__price{
    border-bottom: 1px solid #0000002c;
    padding: 1.2em 10%;
}
.single__duration p, .single__price p{
margin-bottom: 0;
}
.single__duration{
    margin-top: 20vh;
    border-bottom: 1px solid #0000002c;
    padding: 0 10%;
    padding-bottom: 2.5em;
}

.single__price > p:first-of-type,
.single__duration > p:first-of-type{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    align-items: center;
    display: flex;
}

.single__price > p:first-of-type span,
.single__duration > p:first-of-type span{
    color: rgb(var(--gold));
    margin-left: 7px;
}
.single__price > p:first-of-type svg,
.single__duration > p:first-of-type svg{
      margin-right: 7px;
}

.content__scroll{
    margin-top: 5vh;
    padding: 0 10% 10vh 15%;
}

.single__anchors{
    padding: 2.5em 10%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.single__anchors a:visited,
.single__anchors a:hover{
    color: #000;
    text-decoration: none;
}

.single__anchors a{
    margin-bottom: 1em;
    color: #000;
}

.single__anchors a.t{
    color: rgb(var(--gold));
}

.single__tracker{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: calc(100% - 2.5em);
    width: 3px;
    background-color: rgb(var(--gold));
    transform-origin: top center;
    transform: scaleY(0);
}

.single__sommaire{
    position: absolute;
    writing-mode: vertical-lr;
    font-family: 'Playfair Display';
    font-size: clamp(16px, 20vw, 11vh);
    opacity: .1;
    margin: 0;
    right: clamp(15px, 5vw, 60px);
    bottom: 0;
}

.single__sidebar_contact{
    position: absolute;
    bottom: 5vh;
    left: 10%;
}

.content__scroll li{
    margin-bottom: 1em;
    padding-left: 20px;
    position: relative;
}

.content__scroll li:before{
    content: "";
    background-color: rgb(var(--gold));
    font-size: 13px;
    display: inline-block;
    height: 7px;
    width: 7px;
    margin-top: 7px;
    border-radius: 50%;
    margin-right: 1em;
    position: absolute;
    left: 2px;
    top: 0px;
}



.content__scroll .wp-block-separator{
    border-bottom: none;
    opacity: .1;
    width: calc(100% + 35%);
    transform: translateX(-15%);
    position: relative;
    margin: 5vh 0;
}

.content__scroll h2{
    font-size: 2vh;
    position: relative;
    max-width: 70%;
    margin-bottom: 1em;
}

.content__scroll h2:first-child::after{
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background-color: rgb(var(--gold));
    position: absolute;
    left: -1em;
    top: 0;
}

.content__scroll table{
    margin-bottom: 3em;
}

.content__scroll table tr{
    border: 1px solid rgb(var(--gold));
}

.content__scroll table tr > *{
    padding: 1em;
}

.content__scroll table strong{
    color: rgb(var(--gold));
    font-size: 1.3em;
    letter-spacing: 5px;
}

.content__scroll table tr td:nth-child(2){
    text-transform: uppercase;
    text-align: right;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 3px;
}







@media (max-width: 1024px) {
    .single__content {
        width: 60%;
        height: auto;
        margin-top: 20vh;
        position: relative;
    }
     .single-intervention .site-header {
        padding: 3vh 3vh 0px 3vh;
    }
    .header-sticky.single-intervention .site-header, .sticky-lock.single-intervention .site-header {
        padding: 10px 24px 0px 24px;
    }
    .single__sidebar {
        background: #FFF!important;
    }
    .single__sommaire {
        position: absolute;
        writing-mode: vertical-lr;
        font-family: 'Playfair Display';
        font-size: clamp(16px, 20vw, 5vh);
        opacity: .1;
        margin: 0;
        right: 0;
        bottom: 0;
    }
    .content__scroll h2 {
        font-size: 2vh;
        position: relative;
        max-width: 100%;
        margin-bottom: 1em;
    }
}
@media (max-width: 768px) {
    .single__sommaire{display: none;}
}
@media (max-width: 576px) {
    .single__content {
        margin-top: 20vh;
    }
    .content__header {
        padding-bottom: 2em;
        width: 100%;
        margin: auto;
        padding-right: 28px;
        padding-left: 28px;
        max-height: none;
    }

    .content__scroll h2 {
        font-size: 2vh;
        position: relative;
        max-width: 100%;
        margin-bottom: 1.5em;
    }
    .content__scroll h2:first-child::after {
        content: "";
        display: block;
        height: 3px;
        width: 65px;
        background-color: rgb(var(--gold));
        position: relative;
        left: 0;
        top: auto;
        bottom: 0;
        margin-top: 15px;
    }
    .single__title{
        font-size: 30px;
    }

    .intervention__single{
        position: relative;
    }

    .single__content{
        width: 100vw;
    }

    .content__scroll {
        padding: 0 45px 0 28px;
    }
    .single__duration {
        margin-top: auto;
    }
    .single__sidebar{
        right: 0;
        width: calc(100vw - 50px);
        position: fixed;
        transition: .35s ease;
        transform: translateX(100%);
        z-index: 999999;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* .single__sidebar.open{
        transform: translateX(0);
    } */

    .single__sidebar_tab{
        position: absolute;
        right: 100%;
        top: 30%;
        transform: translateY(-50%);
        width: 30px;
        padding: 0.5em;
        border-radius: 10px 0 0 10px;
        background-color: rgb(var(--gold));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .single__sidebar_tab .tab_dot{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #FFF;
        display: block;
        margin: 0.2em 0;
    }

    .content__scroll .wp-block-separator{
        width: 100vw;
    }
    .single__anchors{
      margin-bottom: auto;
    }

}
