.spin-round{
    position: relative;   
    min-height: 15vw;
}

.spin-round div{
    transform-origin: center;
}

.dots-circle{
    border: dotted 1px rgb(var(--gold));
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    animation: spin 30s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.blur-circle{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    padding: 3em;
    backdrop-filter: blur(1px);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.blur-circle img{
    position: absolute;
    width: 85%;
    height: 85%;
    z-index: 2;
    top: 50%;
    left: 50%;
    padding: 1em;
    transform: translate(-50%, -50%) scale(1.2);
    transform-origin: center;
}

.inner-circle{
    border-radius: 50%;
    display: block;
    border: 1px dotted rgb(var(--gold));
    width: 100%;
    height: 100%;
    position: relative;
}

.intervention-spin .dots-circle{
    position: absolute;
    top: -10vh;
}

@media (max-width: 1024px) {
    .spin-round{
        display: none;
    }
}