.coordonnees-row {
    margin-top: clamp(250px, 15vw, 50vh);
}
.text_2{
    margin-top: 50px;
}
.coordonnees-image{
    right: 0vw;
    top: 0;
    min-width: 50vw;
    max-width: 50vw;
    height: 100%;
}
.coordonnees-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    position: relative;
    transform-origin: center;
}

.coordonnees-row p{
    max-width: 300px;
}



@media (max-width: 1024px) {
    .coordonnees-container {
        flex-direction: column-reverse;
    }
    .coordonnees-container > div{
        width: 100%!important;
        flex: 0 0 100%!important;
        max-width: 100%;
    }
    .coordonnees-row {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    .coordonnees-image {
        right: 0;
        top: 0;
        min-width: 100%;
        height: 100%;
        position: relative!important;
    }
    .coordonnees-image img {
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%) scale(1);
    }
}
@media (max-width: 768px) {
    .coordonnees-image{
        position: relative!important;
    }
    .coordonnees-container{
        flex-direction: column;
    }
    .coordonnees-row {
        margin-top: 10vh;
    }
}
@media (max-width: 576px){
    .coordonnees-image img {
        transform: none; 
        position: initial;
   }    
   .coordonnees-container > div {
    flex-direction: column;
    }
    .text_2 {
        margin-top: 15px;
    }
    .coordonnees-row {
        margin-top: 0px;
        text-align: center;
    }
    .coordonnees-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}