.image-toggle{
    margin: auto;
}

.toggle__title{
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin-bottom: 2em;
}


a.toggle__selectors_select.selected {
    border: 2px solid #c6ab9e;
    color: rgb(var(--gold))!important;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
}

.toggle__selectors {
    margin-bottom: 0em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.toggle__selectors_container {
    flex: 1 1 33%;
}
.toggle__selectors a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1em 2em;
    border: 1px solid #E6E6E6;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.toggle__gallery{
    position: absolute
}

.toggle__gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#toggle_images{
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}

.toggle__gallery:not(.select){
    opacity: 0;
}

@media (max-width: 576px) {
    .toggle__title{
        text-align: center;
        margin-bottom: 0;
        margin-top: 2em;
    }
    .image-toggle {
        width: 100%;
    }
    .toggle__selectors {
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        left: 50%;
        transform: translate(-50vw, 0px);
        width: 100vw;
        padding: 0 15px;
        margin-top: 30px;
    }
    .toggle__selectors::-webkit-scrollbar {
        display: none;
      }
    .toggle__selectors_container {
        margin-bottom: 5vh;
    }
    .toggle__selectors a {
        width: max-content;
        margin: 15px 15px 15px 0;
        padding: 0px 20px;
    }

}
